.main-list {
    height: 80%;
    width: 80%;
    margin: auto;
}

.submit-station{
    display: flex;
    flex-direction: column;
}

.button {
    margin-top: 5px;
    padding: 2px;
    align-self: center;
    width: 50px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 6px;
}

.button:hover {
    background-color: lightgrey;
}